from winterfell import hooks
# Server Specific Configurations
server = {
    'port': '9091',
    'host': '0.0.0.0'
}

# Pecan Application Configurations
app = {
    'root': 'winterfell.controllers.root.RootController',
    'modules': ['winterfell'],
    'static_root': '%(confdir)s/public',
    'template_path': '%(confdir)s/winterfell/templates',
    'debug': True,
    'errors': {
        404: '/error/404',
        '__force_dict__': True
    }
}

logging = {
    'root': {'level': 'DEBUG', 'handlers': ['console']},
    'loggers': {
        'winterfell': {'level': 'DEBUG', 'handlers': ['console']},
        'pecan': {'level': 'DEBUG', 'handlers': ['console']},
        'py.warnings': {'handlers': ['console']},
        '__force_dict__': True
    },
    'handlers': {
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'color'
        },
        'logfile': {
            'class': 'logging.FileHandler',
            'filename': '/var/log/winterfell.log',
            'level': 'INFO',
            'formatter': 'simple'
        }
    },
    'formatters': {
        'simple': {
            'format': ('%(asctime)s %(levelname)-5.5s [%(name)s]'
                       '[%(threadName)s] %(message)s')
        },
        'color': {
            '()': 'pecan.log.ColorFormatter',
            'format': ('%(asctime)s [%(padded_color_levelname)s] [%(name)s]'
                       '[%(threadName)s] %(message)s'),
            '__force_dict__': True
        }
    }
}

# Custom Configurations must be in Python dictionary format::
#
# foo = {'bar':'baz'}

# default password when user not provide password
user_default_password = ''

ldif_path = '/root/ldap'

fatal_exception_format_errors = False

ldap_server_url = ''
ldap_admin_dc = ''
ldap_admin_password = ''
ldap_people_ou = ''
ldap_group_ou = ''

# admin token, all http request must have a X-Auth-Token
admin_token = ''
#
# All configurations are accessible at::
# pecan.conf
